In [14]:
import pandas as pd
import numpy as np
import pickle

### Prelim master definition

In [71]:
# df = pd.read_csv('../../tweet_data_all/amzn_tweets2.csv')
# df.drop('Unnamed: 0', axis=1, inplace=True)

In [81]:
tweet_master = pd.read_csv('../../tweet_data_all/amzn_tweets1_master.csv')

In [82]:
tweet_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 6 columns):
Unnamed: 0       416 non-null object
id               416 non-null object
text             415 non-null object
created_at       415 non-null object
place            4 non-null object
user_location    284 non-null object
dtypes: object(6)
memory usage: 19.6+ KB

In [83]:
tweet_master.drop('Unnamed: 0', axis=1, inplace=True)

In [84]:
tweet_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 416 entries, 0 to 415
Data columns (total 5 columns):
id               416 non-null object
text             415 non-null object
created_at       415 non-null object
place            4 non-null object
user_location    284 non-null object
dtypes: object(5)
memory usage: 16.3+ KB

In [85]:
tweet_master.to_csv('tweet_data/tweet_master.csv', index=False)

### Appending docs...

In [2]:
# last double check...
df_test = pd.read_csv('../../tweet_data_all/amzn_tweets_ext8.csv', engine='python')
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10001 entries, 0 to 10000
Data columns (total 6 columns):
Unnamed: 0       10001 non-null object
id               10001 non-null object
text             10000 non-null object
created_at       10000 non-null object
place            53 non-null object
user_location    7754 non-null object
dtypes: object(6)
memory usage: 468.9+ KB

In [3]:
# change MASTER filepath...

def append_to_master(partial_csv_name):
    df_partial = pd.read_csv('../../tweet_data_all/'+partial_csv_name+'.csv', engine='python')
    df_partial.drop('Unnamed: 0', axis=1, inplace=True)
    with open('tweet_data/tweet_master.csv', 'a') as f:
        df_partial.to_csv(f, header=False, index=False)
        
    new_master = pd.read_csv('tweet_data/tweet_master.csv', engine='python')
    return (new_master.info())

In [ ]:
file_list = ['amzn_tweets2','amzn_tweets3', 'amzn_tweets4', 'amzn_tweets5', 'amzn_tweets6', 
             'amzn_tweets7', 'amzn_tweets8', 'amzn_tweets9', 'amzn_tweets10', 'amzn_tweets11', 
             'amzn_tweets_ext1', 'amzn_tweets_ext3', 'amzn_tweets_ext4', 'amzn_tweets_ext5', 
             'amzn_tweets_ext6','amzn_tweets_ext7','amzn_tweets_ext8','amzn_tweets_ext9',
            'amzn_tweets_ext10','amzn_tweets_ext11','amzn_tweets_ext12','amzn_tweets_ext13', 
            'amzn_tweets_ext14','amzn_tweets_ext15','amzn_tweets_ext16','amzn_tweets_ext17']

In [13]:
append_to_master('amzn_tweets_ext17')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984737 entries, 0 to 984736
Data columns (total 5 columns):
id               984673 non-null object
text             984609 non-null object
created_at       984600 non-null object
place            5741 non-null object
user_location    759560 non-null object
dtypes: object(5)
memory usage: 37.6+ MB

In [15]:
# pickle the file for future... 
df_pickle = pd.read_csv('tweet_data/tweet_master.csv', engine='python')
df_pickle.to_pickle('tweet_data/tweet_master.pkl')

## Reference

In [35]:
df_tmast = pd.DataFrame({'col1':[1, 2, 3], 'col2':[4, 5, 6], 'col3':[7, 8, 9]})
df_tmast.to_csv('df_tmast.csv')

df_t1 = pd.DataFrame({'col1':['a', 'b', 'c'], 'col2':['d', 'e', 'f'], 'col3':['g', 'h', 'i']})
df_t1.to_csv('df_t1.csv')

In [50]:
df_tmast = pd.read_csv('tweet_data/df_tmast.csv')
df_tmast.drop('Unnamed: 0', axis=1, inplace=True)
df_tmast

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [51]:
df_tmast.to_csv('df_tmast2.csv', index=False)
df_tmast = pd.read_csv('df_tmast2.csv')
df_tmast

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

#### Append to master process:
1. Read in master --> drop index --> save master
2. Read in partial.csv --> drop index --> append to master

In [59]:
def to_master_csv(partial_csv_name):
    df_partial = pd.read_csv('tweet_data/'+partial_csv_name+'.csv')
    df_partial.drop('Unnamed: 0', axis=1, inplace=True)
    
#     df_master = pd.read_csv('tweet_data/'+master_csv_name+'.csv')
#     print('Pre-Merge master csv length:  {}'.format(len(df_master)))
    with open('tweet_data/df_tmast.csv', 'a') as f:
        df_partial.to_csv(f, header=False)
        
#     df_master = pd.read_csv('tweet_data/'+master_csv_name+'.csv')
#     print('Post-Merge master csv length:  {}'.format(len(df_master)))
#     print(df_master.info())
    df = pd.read_csv('tweet_data/df_tmast.csv', index_col=None)
    return (df.info())

In [61]:
# Run it below:
to_master_csv('df_t1')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
Unnamed: 0    6 non-null int64
col1          6 non-null object
col2          6 non-null object
col3          6 non-null object
dtypes: int64(1), object(3)
memory usage: 272.0+ bytes

In [28]:
df.head()

   0  1  4  7
0  1  2  5  8
1  2  3  6  9
2  0  1  4  7
3  1  2  5  8
4  2  3  6  9